<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>
    <footer th:fragment="bottom">
        <div>
            <div>
                <ul>
                    <li>Terms</li>
                    <li>Privacy</li>
                </ul>
            </div>
            <div>
                <img id="footerLogo" src="images/LogoOrange2.png">
            </div>
            <div>
                <ul>
                    <li>Hire us!</li>
                    <li>Contact us</li>
                </ul>
            </div>
        </div>
        <div id="copyright">
            <p>© 2020 Copyright </p>
        </div>
    </footer>
</body>
</html>