@import "styles.css";

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    background-color: var(--metallicSeaweed);
    width: 80%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
}

h3 {
    color: var(--sunsetOrange);
    width: 100%;
    font-size: 1rem;
}
.answerQuestion{
    width: 100%;
}
h4{
    color: var(--gainsboro);
    width: 100%;
    font-size: 1rem;
    text-align: left;
    text-decoration:underline;
}

p {
    color: var(--gainsboro);
    font-size: 0.9rem;
    text-align: left;
    width: 100%;
}

form.register {
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0.5rem;
}

form div {
    width: 100%;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    height: 20rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    background-color: var(--gainsboro);
}

#button-question {
    display: flex;
    justify-content: center;
}

section div img {
    display: none;
}
.question-infos{
    width: 100%;
}
.question-infos p{
    text-align: left;
    width: 100%;
}
.info-userQuestion{
    width: 100%;
}
section div h4{
    text-align: left;
}
#question-desktop{
    width: 100%;
}

/* desktop*/
@media screen and (min-width: 768px) {

    .button {
        width: auto;
    }

    section {
        width: 84%;
        border-radius: 15px;
        display: flex;
        height: 100%;
        flex-direction: initial;
    }
    .answerQuestion{
        width: 10%;
    }
    #question-desktop {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #button-question {
        display: flex;
        justify-content: flex-end;
    }

    section div img {
        display: initial;
        margin-right: 1rem;
        width: 3vw;
        height: 3vw;
    }

    #id3 {
        width: 4vw;
        height: 3vw;
    }
    section p{
        width: 100%;
    }
   section div h4{
        display: none;
    }
    .question-infos {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        width: 20%;
    }
    .info-userQuestion{
        width: 8%;
    }
}
