@import "styles.css";
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section{
    background-color: var(--metallicSeaweed);
    width: 80%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
}
h3{
    color: var(--sunsetOrange);
    width: 100%;
    font-size: 1.2rem;
}
p{
    color: var(--gainsboro);
    font-size: 0.9rem;
}
form.register{
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0.5rem;
}
form div{
    width: 100%;
    display: flex;
    align-items: center;
}
input{
    width: 100%;
    height: 20rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    background-color: var(--gainsboro);
}
#button-question{
    display: flex;
    justify-content: center;
}

section div img {
    display: none;
}
/* desktop*/
@media screen and (min-width: 768px) {

    .button{
        width: auto;
    }
    section{
        width: 84%;
        border-radius: 15px;
        display: flex;
        height: 100%;
        flex-direction: initial;
    }
    section div:first-child{
        width:10% ;
    }
    #question-desktop{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #button-question{
        display: flex;
        justify-content: flex-end;
    }

    section div img {
        display: initial;
    }
}
