@import url('questions.css');

.title-search{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    margin-top: 1rem;
    width: 90%;
}

.search input {
    background-color: transparent;
    border-radius: 8px;
    width: 100%;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    height: 1.8rem;
    box-shadow: 1px 1.5px 2px;
}

.search button {
    background-color: transparent;
    border-style: none;
    position: relative;
    left: 95%;
    top: -25px;
    color: var(--darkImperialBlue);
    font-size: 1.2rem;
}

.search button:hover {
    color: var(--sunsetOrange)
}

@media screen and (min-width: 768px)  {
    .title-search{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    .search {
        margin: 0;
        width: 30%;
    }

    .search input {
        font-size: 1.4rem;
        height: 2.2rem;
    }

    .search button {
        top: -30px;
        font-size: 1.5rem;
    }
}