
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    --darkImperialBlue: #155268;
    --sunsetOrange: #FE5F55;
    --metallicSeaweed: #00798C;
    --gainsboro: #E4DFDA;
}
html {
    height: 100%;
}
body {
    background-color: var(--gainsboro);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.button{
    width: auto;
    height: auto;
    background: var(--sunsetOrange);
    border-color: var(--sunsetOrange);
    border-radius: 25px;
    font-size: 2rem;
    padding: 0 1.2rem;
}
.btn-register{
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 0.3rem;
    width: auto;
    height: auto;
    margin-left: 1rem;
}

/* style footer */

footer {
    background-color: var(--darkImperialBlue);
    color: var(--gainsboro);
    font-size: 15px;
    text-align: center;
}
footer div div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer ul li {
    margin-bottom: 1em;
}
footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em auto 1em;
}
footer div ul {
    display: flex;
    flex-direction: column;
}
#footerLogo {
    width: 54px;
    height: 65px;
}
#copyright {
    font-size: 12px;
}
@media screen and (min-width: 768px) {

    footer div ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer div div ul li {
        margin-left: 3em;
        margin-right: 3em;

    .button{
        width: 6rem;
        height: 2.5rem;
        border-radius: 25px;
    }
    .btn-register{
        border-radius: 15px;
        width: auto;
        height: auto;
    }

    /* commun login et register*/

    .cadredestop{
        background-color: var(--darkImperialBlue);
        height: 80vh;
        margin: 5rem 5rem;
        border-radius: 25px;
    }
}
