@import url('header.css');
@import url('footer.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    --darkImperialBlue: #155268;
    --sunsetOrange: #FE5F55;
    --metallicSeaweed: #00798C;
    --gainsboro: #E4DFDA;
}
html {
    height: 100%;
}
body {
    background-color: var(--gainsboro);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* BUTTON */
.button{
    width: auto;
    height: auto;
    background: var(--sunsetOrange);
    border-color: var(--sunsetOrange);
    border-radius: 25px;
    font-size: 2rem;
    padding: 0 1.2rem;
}
.btn-register{
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 0.3rem;
    width: auto;
    height: auto;
    margin-left: 1rem;
}


@media screen and (min-width: 768px) {

    /* BUTTON */
    .button{
        width: 6rem;
        height: 2.5rem;
        border-radius: 25px;
    }

    .btn-register{
        border-radius: 15px;
        width: auto;
        height: auto;
    }

    /* Comun between login and register*/

    .cadredestop{
        background-color: var(--darkImperialBlue);
        height: 80vh;
        margin: 5rem 5rem;
        border-radius: 25px;
    }
}
