/* style commun */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --darkImperialBlue: #155268;
    --sunsetOrange: #FE5F55;
    --metallicSeaweed: #00798C;
    --gainsboro: #E4DFDA;
}

body {
    background-color: var(--gainsboro);
}

.button{
    width: 7rem;
    height: 3rem;
    background: var(--sunsetOrange);
    border-color: var(--sunsetOrange);
    border-radius: 25px;
    font-size: 2rem;
    padding: 0;
}

/* style footer */
footer {
    background-color: var(--darkImperialBlue);
    color: var(--gainsboro);
    font-size: 15px;
    text-align: center;
}

footer div div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 1em;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em auto 1em;
}

footer div ul {
    display: flex;
    flex-direction: column;
}

#footerLogo {
    width: 54px;
    height: 65px;
}

#copyright {
    font-size: 12px;
}


@media screen and (min-width: 768px) {

    .button{
        width: 6rem;
        height: 2.5rem;
        background: var(--sunsetOrange);
        border-color: var(--sunsetOrange);
        border-radius: 25px;
        font-size: 2rem;
        padding: 0;
    }


}
