<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <title>ShareMyBrain</title>
    <link rel="stylesheet" th:href="@{/css/answerquestion.css}" type="text/css">
</head>
<body>
<th:block th:include="fragments/header.html :: header(${true},${'index'}, ${avatar}, ${username})"></th:block>
<main>
    <section>
        <div>
            <img alt="avatar" src="" th:id="id + ${avatarQ.id}"
                 th:src="@{/images/avatar/{avatar}(avatar = ${avatarQ.url})}">
        </div>
        <div id="question-desktop">
            <h3 th:text="${question.title}">Title of the question to fetch in the database</h3>
            <p th:text="${question.description}">Question to look in the database...Hoc inmaturo interitu ipse quoque
                sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud
                Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore
                Rufini.</p>
        </div>
    </section>
    <section th:each="answer : ${avatarAnswerMap}" th:with="avatar = ${answer.value}, answer = ${answer.key}">
        <div>
            <img alt="avatar" th:id="id + ${avatar.id}" th:src="@{/images/avatar/{avatar}(avatar = ${avatar.url})}">
        </div>
        <p th:text="${answer.description}">Verum ad istam omnem orationem brevis est defensio. Nam quoad aetas M. Caeli
            dare potuit isti suspicioni locum, fuit primum ipsius pudore, deinde etiam patris diligentia disciplinaque munita.
            Qui ut huic virilem togam deditšnihil dicam hoc loco de me; tantum sit, quantum vos existimatis; hoc dicam, hunc</p>
    </section>

    <form action="/answerquestion" class="register" method="post">
        <div>
            <label for="answer-question"></label>
            <input name="idQuestion" th:value="${question.idQuestion}" type="hidden">
            <input id="answer-question" name="answerQuestion" placeholder="Type your answer ..." required type="text">
        </div>

        <div id="button-question">
            <input class="button" type="submit" value="Send">
        </div>
    </form>
</main>

<th:block th:include="fragments/footer.html :: bottom (${true})"></th:block>
<script src="burger.js" type="text/javascript"></script>

</body>
</html>