<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <th:block th:include="fragments/head.html :: head"></th:block>
        <title>Questions</title>
        <link href="css/answerProfile.css" rel="stylesheet" type="text/css">
    </head>
</head>
<body>
<th:block th:include="fragments/header.html :: header(${true},${'index'}, ${avatar}, ${username})"></th:block>
<main class="share-knowledge">
    <h2>Questions answered by you!</h2>
    <div class="question" th:each="entry : ${avatarQuestMap}"
         th:with="avatar = ${entry.value}, question = ${entry.key}">
        <div class="question-descrip-Img">
            <img alt="avatar" src="" th:id="id + ${avatar.id}"
                 th:src="@{images/avatar/{avatar}(avatar = ${avatar.url})}">
            <div>
                <a class="quest-title" href="/answer" th:href="@{/answer/{question}(question = ${question.idQuestion})}"
                   th:text="${question.title}">Fusce rhoncus odio ante, at auctor
                    nibh dapibus eget?</a>
                <p class="quest-description" th:text="${question.description}">Cras sed turpis justo. Interdum et</p>
            </div>
        </div>
    </div>
</main>

<th:block th:include="fragments/footer.html :: bottom (${true})"></th:block>
<script src="burger.js" type="text/javascript"></script>

</body>
</html>
