<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <th:block th:include="fragments/head.html :: head"></th:block>
        <title>Your profile</title>
        <link href="css/profile.css" rel="stylesheet" type="text/css">
    </head>
</head>
<body>
<th:block th:include="fragments/header.html :: header(${true},${'index'}, ${avatar}, ${username})"></th:block>
<main class="fullProfile">
    <h2>Profile activity</h2>
    <div class="profileMainBlocks">
        <div class="profileQuestionAnswerBlock">
            <div class="profileQuestionAnswerTabs">
                <div>
                    <input class="tabButton" type="submit" value="Questions">
                    <!-- TODO: make it work with a controller-->
                </div>
                <div>
                    <input class="tabButton" type="submit" value="Answers">
                    <!-- TODO: make it work with a controller-->
                </div>
            </div>
            <div class="profileQuestionAnswerContent">
                <div class="singleQuestionAnswerBlock">


                    <!-- TODO: make coexist the two th:block with a th:if. -->
                    <th:block th:include="questionProfile.html :: questionsProfileBlock (${mapQuestion})">
                    </th:block>
     <!--               <th:block th:include="answerProfile.html :: answersProfileBlock (${avatarQuestMap})">
                    </th:block>-->


                </div>
            </div>
        </div>
        <div class="profileUserInformation">
            <div class="profileUserAvatar">
                <img th:src="@{/images/avatar/{avatar}(avatar = ${avatar})}">
            </div>
            <div class="profileUserTextBlock">
                <div class="profileUserTextInfos">
                    <h3 th:text="${username}">Username</h3>
                    <a>My skill: </a><a th:text="${skill}"></a>
                </div>
                <div class="accountOptions"> <!-- TODO: code those functions or delete -->
                    <ul>
                        <li><a>Change my password</a></li>
                        <li><a>Delete my account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>
<th:block th:include="fragments/footer.html :: bottom (${true})"></th:block>
<script src="burger.js" type="text/javascript"></script>
</body>
</html>