<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <th:block th:include="fragments/head.html :: head"></th:block>
        <title>Questions</title>
        <link href="css/questionProfile.css" rel="stylesheet" type="text/css">
    </head>
</head>
<body>
<th:block th:include="fragments/header.html :: header(${true},${'index'}, ${avatar}, ${username})"></th:block>
<div class="share-knowledge">
    <h2>Your Questions!</h2>
    <div class="question" th:each="entry : ${mapQuestion}"
         th:with="skill = ${entry.value}, question = ${entry.key}">
        <div class="question-descrip-Img">
            <h3 th:text="${skill.name}">Skill</h3>
            <div>
                <a class="quest-title" href="/answer" th:href="@{/answer/{question}(question = ${question.idQuestion})}"
                   th:text="${question.title}">Fusce rhoncus odio ante, at auctor
                    nibh dapibus eget?</a>
               <div>
                    <p th:each="answer, iter : ${question.answers}" th:text="|Answer ${iter.index + 1} : ${answer.description} |">Answer 1:</p>
               </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/footer.html :: bottom (${true})"></th:block>
<script src="burger.js" type="text/javascript"></script>

</body>
</html>
