<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <title>Register</title>
    <link href="css/register.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<th:block th:include="fragments/header.html :: header(${false},${'register'})"></th:block>
<div class="cadredestop">
    <h2>Register</h2>
    <form action="/register" class="register" method="post" th:object="${user}">

        <div id="formulaire">
            <label for="name"></label>
            <input id="name" name="userName" placeholder="Username" required th:field="*{userName}" type="text">
            <p class="error" th:if="${userExists}">Oops the username chosen already exists, try a new one</p>

            <label for="mail"></label>
            <input id="mail" name="mail" placeholder="Email" required th:field="*{mail}" type="email">
            <p class="error" th:if="${emailExists}">This email already exists</p>

            <label for="pwd"></label>
            <input id="pwd" name="pwd" placeholder="Password" required th:field="*{pwd}" type="password">

            <label for="pwd2"></label>
            <input id="pwd2" name="pwd2" placeholder="Confirm password" required th:field="*{pwd2}" type="password">
            <p class="error" th:if="${noPswConfirmed}">Oops the passwords don't match try again</p>
        </div>
        <div id="skillmobile">
            <div>
                <label id="skill" >

                    <select name="idSkill">
                        <option value="0">Choose your skill</option>
                        <option th:each="skill : ${skills}" th:value="${skill.id}" th:text="${skill.name}">
                        </option>
                    </select>

                    <!-- TODO IF NO AVATAR CHOSEN -> WORKS AND ANYTHING HAPPENS -->
                    <p class="error" th:if="${noSkill}">You need to choose an avatar</p>
                </label>
            </div>
            <!--TODO PUT THE PHOTO OF THE AVATAR -->
            <div id="formAvatar">
                <p>Choose your avatar</p>
                <div id="avatar-div">
                    <label class="avatar-radio" th:each="avatar : ${avatars}" >
                        <input type="radio" id="avatar" name="idAvatar" value="id" th:value="${avatar.id}">
                        <img class="img-avatar" src="image/avatar" th:id="id + ${avatar.id}" th:src="@{images/avatar/{avatar}(avatar = ${avatar.url})}" >
                    </label>
                </div>
            </div>
        </div>

        <div>
            <input class="button" type="submit" value="Go">
        </div>
    </form>
</div>
<th:block th:include="fragments/footer.html :: bottom (${false})"></th:block>
<script src="burger.js" type="text/javascript"></script>
</body>
</html>