<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <th:block th:include="fragments/head.html :: head"></th:block>
        <title>Questions</title>
        <link href="css/search.css" rel="stylesheet" type="text/css">
    </head>
</head>
<body>
<th:block th:include="fragments/header.html :: header(${true},${'index'}, ${avatar}, ${username})"></th:block>
<main class="share-knowledge">
    <div class="title-search">
        <h2>Find a Question</h2>
        <form action="/search" class="search" method="get">
            <input id="search" name="searching" placeholder="Search by ..." th:value="${searching}" type="text">
            <button><i class="fas fa-search"></i></button>
        </form>
    </div>
    <form action="/search" class="select_box" method="get">
        <input name="searching" th:value="${searching}" type="hidden">
        <select id="filter" name="sort" onchange="this.form.submit()">
            <option value="">Sort</option>
            <option value="newest">By newest</option>
            <option value="oldest">By oldest</option>
        </select>
    </form>
    <div class="question" th:each="entry : ${avatarQuestMap}"
          th:with="avatar = ${entry.value}, question = ${entry.key}">
        <div class="question-descrip-Img">
            <img alt="avatar" src="" th:id="id + ${avatar.id}"
                 th:src="@{images/avatar/{avatar}(avatar = ${avatar.url})}" th:title="${question.questionUserName}">
            <div>
                <h3 th:text="|${question.questionUserName} :|"></h3>
                <a class="quest-title" href="/answer" th:href="@{/answer/{question}(question = ${question.idQuestion})}"
                   th:text="${question.title}">Fusce rhoncus odio ante, at auctor nibh dapibus eget?</a>
                <p class="quest-description" th:text="${question.description}">Cras sed turpis justo. Interdum et</p>
                <div class="skillQuestion">
                    <p th:text="${question.skillName}">Skill</p>
                </div>
            </div>
        </div>

        <div class="question-infos">
            <p th:text="|Posted the ${question.date}|">Posted the yyyy/MM/dd</p>
            <p th:text="|${question.countAnswers} answers|">2 answers</p>
        </div>
    </div>
    <div class="pagination">
        <a href="#" th:href="@{/search(page=${page - 1}, searching = ${searching}, sort = ${sort})}"
           th:if="${page} > 1">Prev</a>
        <div class="num-page" th:each="i: ${#numbers.sequence(1, 3)}" th:if="${numPages} &gt; 3">
            <a href="/search" th:href="@{/search(page=${i}, searching = ${searching}, sort = ${sort})}"
               th:text="${i}">1</a>
        </div>
        <div class="num-page" th:each="i: ${#numbers.sequence(1, numPages)}" th:if="${numPages} <= 3">
            <a href="/search" th:href="@{/search(page=${i}, searching = ${searching}, sort = ${sort})}"
               th:text="${i}">1</a>
        </div>
        <a href="#" th:href="@{/search(page=${page + 1}, searching = ${searching}, sort = ${sort})}"
           th:if="${page} < ${numPages}">Next</a>
    </div>
</main>

<th:block th:include="fragments/footer.html :: bottom (${true})"></th:block>
<script src="burger.js" type="text/javascript"></script>

</body>
</html>
